<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<description>This is the bean definitions and imports for the Spring framework</description>
	<bean id="ApplicationContextXMLPatchBean" class="com.idega.spring.patch.ApplicationContextXMLPatchBean"/>
	<bean id="applicationContextProvider" class="com.idega.spring.ApplicationContextProvider"/>
	
<!--<import resource="classpath:org/codehaus/xfire/spring/xfire.xml" />-->
<!--<import resource="classpath:com/idega/xfire/demo/jsr181/xfire.xml" />-->
	
</beans>

